<div id="content">
    <div id="upper">
        <div id="UL">
            <div id="accordion">
                <h3>Gen Eds</h3>
                <div id="gened"> Inane Drivel </div>
                <h3>Major Specific</h3>
                <div id="major">Additional Inane Drivel</div>
                <h3>Track</h3>
                <div id="track">Tacos</div>
            </div>
        </div>
        <div id="plannum" style="display: none"><%= @plan.id %></div>
        <div id="UR"></div>
    </div>
    <div id="below">
        <div id="BL"></div>
        <div id="BR">
            <table id="search-table" class="display compact nowrap">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Credits</th>
                        <th>Decription</th>
                    </tr>
                </thead>
                <tbody id="search-body">
                </tbody>
            </table>
        </div>
    </div>
</div>
