<div id="content">
    <div id="upper">
        <div id="UL">
            <div id="accordion">
                <h3>Gen Eds</h3>
                <div> “Be that word our sign of parting, bird or fiend!” I shrieked, upstarting— 
                    “Get thee back into the tempest and the Night’s Plutonian shore! 
                    Leave no black plume as a token of that lie thy soul hath spoken! 
                    Leave my loneliness unbroken!—quit the bust above my door! 
                    Take thy beak from out my heart, and take thy form from off my door!” 
                    Quoth the Raven “Nevermore.” <br>

                    And the Raven, never flitting, still is sitting, still is sitting 
                    On the pallid bust of Pallas just above my chamber door; 
                    And his eyes have all the seeming of a demon’s that is dreaming, 
                    And the lamp-light o’er him streaming throws his shadow on the floor; 
                    And my soul from out that shadow that lies floating on the floor 
                    Shall be lifted—nevermore!</div>
                <h3>Major Specific</h3>
                <div>So, normally a section like this would be populated
                    by some kind of useful data, such as classes to take, how
                    many credits they are, et cetera.  But for this project,
                    we don't have to do any of that, so I have decided to take 
                    this particular moment to insert some inane drivel that 
                    someone somewhere will take the time to read really only
                    out of morbid curiosity. Or maybe no one will read this.
                    I mean, I could go on and on
                    about any kind of demented subject I wanted to, and I 
                    doubt anyone would even bother to try and read what I
                    wrote.  That, or, you know, I could write about some kind
                    of pure thing, like unicorns, or popcorn, or candy corn
                    or corn bread, or corn pudding, or acorns, or cornmeal, 
                    or tricorner hats, or corn flakes, or pizza.  I could 
                    also talk about Dr. Gallagher, and how he likes to take
                    a hammer and smash water melons in his free time.  I could
                    even sing for you! Laaaa, lalalalala LAAAAAAAAAAAAAAAAA!
                    See? I have a beautiful singing voice.  But look at the
                    tomato. He can't sing. Poor tomato.  Say, you know what
                    tomatoes remind me of? Doorknobs! Man, I love me a good
                    doorknob.  I really like the ones at my Nana's house, 
                    with the handle and the curlies on the end.  My Nana makes
                    great cookies.  Better than Microsoft.  Microsoft's cookies
                    aren't edible.  But everything in this room is edible.  
                    Even I'm edible.  But that's called cannibalism, my dear
                    children, and is in fact frowned upon in most societies</div>
                <h3>Track</h3>
                <div>Tacos</div>
            </div>
        </div>
        <div id="UR"></div>
    </div>
    <div id="below">
        <div id="BL"></div>
        <div id="BR">
            <table id="search-table" class="display compact nowrap">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Credits</th>
                    </tr>
                </thead>
                <tbody>
                    <% @courses.each do |course| %>
                    <tr>
                        <td><%= course.name %></td>
                        <td><%= course.course_id %></td>
                        <td><%= course.credits %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
